##############################
## Configuration for lsp-ai ##
##############################
[language-server.lsp-ai]
command = "lsp-ai"

[language-server.lsp-ai.config.memory]
file_store = { }

[language-server.lsp-ai.config.models.model1]
type = "open_ai"
chat_endpoint = "http://127.0.0.1:8123/v1/completions"
model =  "LongCat-Flash-Chat"
auth_token_env_var_name = "LONGCAT_API_KEY"

# Completion
[language-server.lsp-ai.config.completion]
model = "model1"

[language-server.lsp-ai.config.completion.parameters]
max_tokens = 4096
max_context = 4096

[[language-server.lsp-ai.config.completion.parameters.messages]]
role = "system"
content = "你是一个代码助手，请尽最大努力结合我提供的代码上下文，并根据当前光标所在的位置生成合理的代码。具体要求如下：\n 1. 不希望你的返回结果中出现'```'这样的字符串，希望返回的字符串就是直接可运行的代码！！\n 2. 如果有注释，注释必须规范且使用英文。\n 3. 提供给你的代码上下文中的<CURSOR>就是光标所在位置的标记，不要弄错了！\n 4. 以上所有要求必须严格遵守。"

[[language-server.lsp-ai.config.completion.parameters.messages]]
role = "user"
content = "{CODE}"

# Refactor code
[[language-server.lsp-ai.config.actions]]
model = "model1"
action_display_name = "Refactor"

[language-server.lsp-ai.config.actions.parameters]
max_tokens = 4096
max_context = 4096

[[language-server.lsp-ai.config.actions.parameters.messages]]
role = "system"
content = "你是一个代码助手，请尽最大努力结合我提供的代码，进行分析并提出合理的重构方案。重构的要求如下：\n 1. 不希望你的返回结果中出现'```'这样的字符串，希望返回的字符串就是直接可运行的代码！！\n 2. 如果代码原来有注释，则根据重构之后的代码的情况加上对应的注释，如果原来的代码没有注释，则生成的代码不需要加注释！\n 3. 以上所有要求必须严格遵守。"

[[language-server.lsp-ai.config.actions.parameters.messages]]
role = "user"
content = "{SELECTED_TEXT}"


# Explain code
[[language-server.lsp-ai.config.actions]]
model = "model1"
action_display_name = "Explain"

[language-server.lsp-ai.config.actions.parameters]
max_tokens = 4096
max_context = 4096

[[language-server.lsp-ai.config.actions.parameters.messages]]
role = "system"
content = "你是一个代码助手，需要对我提供的代码进行专业的分析，然后生成分析结果。分析结果的格式要求如下：\n 1. 你需要在我提供的代码中的每个代码块的上方，以中文注释的方式提供该代码块的解读信息，一个代码块上方一行中文注释；\n  2. 不希望你的返回结果中出现'```'这样的字符串，希望返回的字符串就是直接可运行的代码！！\n 3. 不要丢失或覆盖提供给你的任何代码！\n 4. 你只需要对逻辑复杂的代码块做出解释即可。\n 5. 以上所有要求必须严格遵守。"

[[language-server.lsp-ai.config.actions.parameters.messages]]
role = "user"
content = "{SELECTED_TEXT}"

# Modify code
[[language-server.lsp-ai.config.actions]]
model = "model1"
action_display_name = "Modify"

[language-server.lsp-ai.config.actions.parameters]
max_tokens = 4096
max_context = 4096

[[language-server.lsp-ai.config.actions.parameters.messages]]
role = "system"
content = "你是一个代码助手，需要按照我的要求，对我提供的代码进行修改。具体要求如下：\n 1. 我的修改要求的描述放在代码上方或者下方的注释中。\n  2. 不希望你的返回结果中出现'```'这样的字符串，希望返回的字符串就是直接可运行的代码！！\n 3. 修改之后的代码不需要注释。\n 4. 以上所有要求必须严格遵守。"

# Generate code
[[language-server.lsp-ai.config.actions]]
model = "model1"
action_display_name = "Generate"

[language-server.lsp-ai.config.actions.parameters]
max_tokens = 4096
max_context = 4096

[[language-server.lsp-ai.config.actions.parameters.messages]]
role = "system"
content = "你是一个代码助手，需要按照我的要求，结合我提供的代码上下文，生成准确且专业的代码。具体要求如下：\n 1. 我的代码需求会放在已有代码的下方，并以注释的形式提供。\n  2. 不希望你的返回结果中出现'```'这样的字符串，希望返回的字符串就是直接可运行的代码！！\n 3. 生成的新代码不需要注释。\n 4. 以上所有要求必须严格遵守。"

[[language-server.lsp-ai.config.actions.parameters.messages]]
role = "user"
content = "{SELECTED_TEXT}"

# Chat in editor
[[language-server.lsp-ai.config.chat]]
trigger = "!C"
action_display_name = "Chat"
model = "model1"

[language-server.lsp-ai.config.chat.parameters]
max_context = 4096
max_tokens = 4096

[[language-server.lsp-ai.config.chat.parameters.messages]]
role = "system"
content= "你是一个代码助手，能够根据我提出的要求，对代码或者代码变更进行非常细致且专业的分析。要求如下：\n 1. 如果代码是git diff结果，请细致分析，并提供代码变更可能存在哪些问题，并给出合理的解决方案；\n 2. 如果我是在请你根据代码生成swagger文档，那么生成的swagger文档必须符合openapi 2.0规范，必须使用英文，同时，swagger文档不要有example字段，也不要生成components。3. 在分析代码时，不必使用英文。 \n 4. 以上所有要求必须严格遵守。"

[[language]]
name = "rust"
formatter = { command = "rustfmt" }

[[language]]
name = "cpp"
formatter = { command = "clang-format" }

[[language]]
name = "python"
formatter = { command = "black", args = ["-"] } 

[[language]]
name = "go"
language-servers = [ "gopls", "lsp-ai" ]
auto-format = true
formatter = ["gofmt"]

[[language]]
name = "markdown"
auto-format = true
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
language-servers = ["marksman","lsp-ai"]

### yaml
[language-server.yaml-language-server]
command = "yaml-language-server"
args = ["--stdio"]

[language-server.yaml-language-server.config]
format = { enable = true }
validation = true

[language-server.yaml-language-server.config.schemas]
"https://json.schemastore.org/github-workflow.json" = ".github/workflows/*.{yml,yaml}"
"https://raw.githubusercontent.com/ansible-community/schemas/main/f/ansible-tasks.json" = "roles/{tasks,handlers}/*.{yml,yaml}"

[[language]]
name = "yaml"
file-types = ["yaml", "yml"]
auto-format = true
language-servers = ["yaml-language-server", "lsp-ai"]
